absl-py==0.9.0
astor==0.8.1
audioread==2.1.8
certifi==2019.11.28
cffi==1.14.0
decorator==4.4.2
gast==0.3.3
grpcio==1.27.2
h5py==2.10.0
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
librosa==0.7.2
llvmlite==0.31.0
Markdown==3.2.1
numba==0.48.0
numpy==1.18.1
protobuf==3.11.3
pycparser==2.19
resampy==0.2.2
scikit-learn==0.22.2
scipy==1.4.1
six==1.14.0
SoundFile==0.10.3.post1
tensorboard==1.12.2
tensorflow==1.15.4
termcolor==1.1.0
Werkzeug==1.0.0
wincertstore==0.2
